/* *{
    border: 1px solid black;
} */

body {
    background-color: var(--color-secondary-grey);
}

a.nav-item {
    transition: color 0.3 ease;
    font-weight: 600;
}

a.nav-item:hover {
    color: var(--color-primary-pink);
    font-weight: bolder;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    padding: 0 7%;
    padding-bottom: 80px;    
}

.container .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.625rem 0;
    margin: 0 0.7rem;
}

.container .box-container .box {
    background-color: var(--color-secondary-white);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba((0),0,0,.3);
    text-align: center;
    flex: 1 1 18.75rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
}

.container .box-container .box.default-plan {
    background-color: var(--color-secondary-pink-ligther);
}

.container .box-container .box img {
    height: 5rem;
    margin: 0.625rem auto;
    margin-bottom: 1.5rem;
}

.container .box-container .box h2 {
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--color-secondary-black);
}

.container .box-container .box p.most-popular-text {
    color: var(--color-secondary-green);
    font-weight: 800;
    font-size: 0.8rem;
}

.container .box-container .box .amount {
    font-weight: bolder;
    color: var(--color-primary-pink);
    padding: 0.625rem 0;
    font-size: 1.875rem;
} 

.container .box-container .box .amount .price {
    font-size: 3.75rem;
}

.container .box-container .box div p {
    list-style: none;
    padding: 0.250rem 0;
    color: var(--color-secondary-black);
    font-size: 1rem;
    text-align: center;
}

.container .box-container article.bg-box.active {
    background-color: var(--color-secondary-pink-ligther);
}

.container .box-container article.box:hover {
    transform: perspective(1000px) translateZ(50px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 15px 30px rgba(0, 0, 0, 0.25);
}

.container .box-container .btn {
    display: inline-block;
    margin: 1rem 0;
    border-radius: 3.125rem;
    background-color: var(--color-primary-pink);
    color: var(--color-secondary-white);
    padding: 0.5625rem 3.125rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.container .box-container .btn:hover {
    transform: scale(1.08);
}

.container .price-toggler-container {
    margin: 0.625rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba((0),0,0,.3);
    display: flex;
    
}

.container .price-toggler-container span {
    font-weight: bolder;
    color: var(--color-secondary-black);
}

.container .price-toggler-container span span{
    color: var(--color-secondary-green);
}

.container .price-toggler-container .price-toggler {
    height: 30px;
    width: 75px;
    border-radius: 50px;
    background-color: var(--color-primary-pink);
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}

.container .price-toggler-container .price-toggler::before {
    content: '';
    position: absolute;
    top: 2.5px;
    right: 3.75px;
    border-radius: 50%;
    background-color: var(--color-secondary-white);
    height: 25px;
    width: 25px;
    transition: 0.2s ease-out;
}

.container .price-toggler-container .price-toggler.active::before {
    left: 7px;
}

.navbar-toggler {
    font-size: 0.8rem;
}

footer .footer {
    background-color: var(--color-secondary-black);
    color: var(--color-secondary-white);
    padding-bottom: 2rem;
    padding: 1.5rem 4.5rem;
}

@media (max-width: 1400px){
    .container .box-container article.box:hover {
        transform: perspective(1000px) translateZ(10px);
    }
}